body {
    margin: 0;
    text-align: center;
    color: #dbc325;
    background-color: #282c34;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.column {
    display: inline-block;
    border-radius: 25px;
    padding: 15px;
    margin-right: 10px;
    width: 30vh;
}

.column.rail {
    background-color: rgba(197, 216, 255, 0.05);
    height: 50vh;
    max-height: 100vh;
    overflow-y: auto;
}

.column.footer {
    background-color: rgba(197, 216, 255, 0.05);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
.column.footer:hover{
    background-color: rgba(197, 216, 255, 0.1);
}

.column.footer:hover{
    background-color: rgba(197, 216, 255, 0.1);
}

.issue {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.lightbox {
    background-color: rgba(0,0,0, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
}

.creator {
    width: 60%;
    height: 60%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top:10%
}

.creator.input {
    border-radius: 0;
    resize: none;
    width: 92%;

    margin-top: 30px;
    border-width: 1px;
    background-color: transparent;
    font-size:calc(12px + 1.5vw);
}

.creator.input.title {
    height: auto ;
}

.creator.input.desc {
    height: 200px;
}

button {
    border: 0;
    font: inherit;
    font-family: inherit;
    border-radius: 7px;
    width: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #EAEAEA;
}

button.close {
   float: right;
    margin-left: auto;
    margin-top: 0px;
}
div[disabled]
{
    pointer-events: none;
    filter:blur(1px);
}
